<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title %></title>
    <link rel="icon shortcut" href="./images/ipl.png">
    <link rel="stylesheet" href="./css/index.css">
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
</head>
<body>
<div class="main-body">
    <main>
    <header class="header">
        <span class="bgtext">IPL Dataset</span>
    </header>
    <nav>
        <ul class="nav-list">
            <a href="/plot1"><li class="nav-list-item">Matches played per year</li></a>
            <a href="/plot2"><li class="nav-list-item">Matches won by by all the team over all the years</li></a>
            <a href="/plot3"><li class="nav-list-item">Extra run conceded per team in IPL-2016</li></a>
            <a href="/plot4"><li class="nav-list-item">Top 20 economical bowlers in IPL-2015</li></a>
            <a href="/plot5"><li class="nav-list-item">Story</li></a>
        </ul>
    </nav>
    <section class="plot-div">
        <div class="plot-text plot-text<%=plot%>">
            <!-- <button><%=plotTitle%></button> 
            <div class="graph-icon"><img src="./images/graph-icon.png" alt=""></div> -->
        </div>
        <div class="container plot<%=plot%>-container" id="plot<%=plot%>-container">

        </div>
    </section>
    </main>
    <footer class="parallax parallax-6"></footer>
</div>
</body>
<script src="/js/plot<%=plot%>.js"></script>
</html>